# Entornos virtuales y dependencias
.venv
venv/
env/

# Control de versiones
.git/
.gitignore
.github/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
.Python

# Bases de datos locales y archivos temporales
*.db
*.sqlite3
*.sqlite
*.dump

# Logs y caché
*.log
logs/
.pytest_cache/
.cache/

# Archivos de desarrollo y configuración local
docker-compose*
docker-compose.*
.env
.env.local
.env.dev
.env.prod
.idea/
.vscode/
*.swp
*.swo

# Node.js (si no lo usas, elimínalo)
node_modules/
npm-debug.log*

# Archivos pesados o innecesarios
*.zip
*.tar.gz
*.rar
.DS_Store