# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Virtual environments
.venv/
# Ignorar .env
*.env
venv/
env/
ENV/
.venv*

# Docker container logs, if any
**/temp_uploads/
**/temp_uploads/**
.DS_Store
Thumbs.db
.env
node_modules/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/
.venv*
fomm/
**/temp_uploads/
**/temp_uploads/**

.DS_Store
Thumbs.db
node_modules/
/backend/models/
face-alignment/
frontend/node_modules/
aws/
awscliv2.zip
